@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 10px;
}
body{
    font-size: 1.6rem;
    background-color: blue;
    background-image: linear-gradient(315deg,red 0%,yellow 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',sans-serif;
}
#container{
    background-color: white;
    width: 60rem;
    min-height: 30vh;
    border-radius: 1rem;
    box-shadow: 0 0 1.2rem 0,lightgray;
    margin: 2rem;
}
#container > *{
    margin: 1rem;
    padding: 1rem;
}